= render 'side_bar'

.chatspace  
  .chat-main
    .main-header
      .main-header__left-box
        .group
          = @group.name
        .user
          Members: 
          = @group.users.name
      .main-header__right
        %a.edit-btn Edit
    .messages
      = render @messages
    .form
      = form_for [@group, @message],id: "new_message" do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'