= render 'side_bar'

.chatspace  
  .chat-main
    .main-header
      .main-header__left-box
        %h2.group test
        %p.user Members: test
      .main-header__right
        %a.edit-btn Edit
    .chat-body
      %ul.chat-contents
        %li.chat-content
          .chat-content__name
            %p test
          .chat-content__time
            %p test
          .chat-content__message
            %p test
    .chat-footer
      .chat-footer__messagebody
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'chat-footer__messagebody__text', placeholder: 'type a message'
            = f.label :image, class: 'chat-footer__messagebody__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
            .chat-footer__send
              %a.send-btn Send